@import url(reset.css);
@import url(font.css);
@import url(typography.css);

*{
    box-sizing: border-box;
}

.clearfix{
    clear: both;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}


/* ------------------Layout------------------ */


/* =====Header START===== */

header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

header>#nav,#logo,#play{
    height: 78px;
    float: left;
}

header>#logo{
    background-color: #111;
    width: 169px;
    
}

header>nav{
    background-color: #111;
    width: calc(100% - (169px + 188px));
    
}

header>#play{
    /* background-color: green; */
    width: 188px;
}

/* --------Left Coloumn-------- */

header>#play{
    padding-right: 32px;
    background-color: #111;
}


header>#play>div:first-child{
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 6px 0 6px;
    
}

header>#play>div:last-child{
    padding: 0 6px;
}

header>#play>div:last-child{
    position: relative;
    float: left;
    top: 50%;
    transform: translateY(-50%);
}

header>#play>div:first-child>a>ion-icon{
    color: white;
    font-size: 1.2rem;
}

header>#play>div:first-child>a{
    height: 32px;
    width: 32px;
}

header>#play>div:last-child>a>button{
    color: #111;
    font-size: 13px;
    font-weight: bold;
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(255, 125, 102) 100%);
    border: none;
    border-radius: 12px;
    height: 32px;
    padding: 8px 16px;
    cursor: pointer;
    letter-spacing: 1px;

}

header>#play>div:last-child>a>button:hover{
    background: linear-gradient(135deg, rgb(255, 51, 66) 0%, rgb(255, 48, 64) 0.01%, rgb(235, 117, 96) 100%);
}

/* --------Left Coloumn END-------- */

/* --------Mid Coloumn START-------- */

header>#nav>div{
    position: relative;
    float: left;
    width: fit-content;
    height: 100%;
}


header>#nav>div:hover p{
    background-color: rgba(128,128,128,.3);
    border-radius: 6.4px;
}

header>#nav>div:hover svg path{
    fill: rgb(255, 255, 255);
}



header>#nav>div:first-child{
    margin-right: 22px;
}

header>#nav>div>a{
    text-decoration: none;
}


header>#nav>div>a>p{
    color: white;
    position: relative;
    letter-spacing: 1px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    font-size: 13px;
    font-weight: bold;
    font-family: "FF Mark W05";
    padding: 7.5px 16px;
}

header>#nav>div>a>svg{
    width: 26px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

header>#nav>div>a>p>svg{
   /* padding-left: 5px; */
   width: 10px;
   height: 10px;
   margin-left: 5px;
}

/* SUB MENU OF GAME INFO */

.sub-menu{
    display: none;
    position: absolute;
    top: 85%;
    background-color: #292929;
    width: 200px;
    height: fit-content;
    text-align: left;
    z-index: 1;
}

.sub-menu>li{
    margin: 10px;
}

.sub-menu>.underline-bar{
    height: 4px;
    width: 100%;
    background-color: rgb(255, 70, 85);
}
.underline-bar-2{
    display: none;
    position: relative;
    top: 27px;
    color: white;
    height: 4px;
    width: 100%;
    background-color: rgb(255, 70, 85);
}

header>#nav>div:hover .underline-bar-2{
    display: block;
}   

.sub-menu>li>a{
    color: #c7c7c7;
    text-decoration: none;
    padding: 8px 16px;
    font-size: 13px;
    font-family: "FF Mark W05";
    font-weight: bold;
    line-height: 3rem;
}

.sub-menu>li:hover {
    background-color: rgba(128,128,128,.3);
    border-radius: 15px;
}

header>#nav>div:hover .sub-menu{
    display: block;
}

.sub-menu>li>a>svg{
    width: 8px;
    height: 8px;
    margin-left: 5px;
}

/* --------Mid Coloumn END-------- */

/* --------First Coloumn START-------- */


header>#logo>div{
    width: fit-content;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-right: 5px;
    
}

header>#logo>div>svg{
    vertical-align: middle;   
}

header>#logo>div>svg:first-child path{
    fill: white;
}

header>#logo>div>svg:last-child{
    width: 10px;
    height: 10px;   
}

header>#logo>div:hover svg path{
    fill: red;
}

header>#logo>div:hover {
    cursor: pointer;
}


/* Mega Menu */

#overlay{
    visibility: hidden;
    background-color: rgba(17, 17, 17, 0.699);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#mega-menu{
    height: 0;
    background-color: white;
    transition: height 500ms;
}

/* --------First Coloumn END-------- */


/* =====Header END===== */


/* =====Main START===== */

main>#video-overlay>#video{
    /* background-color: transparent; */
    position: relative;
    top: 76px;
    width: 100%;
    height: 692px;
    overflow: hidden;
    z-index: -1;

}

/* #overlay-wrapper{
    position: absolute;
    top: 76px;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    width: 1057px;
    height: 616px;
    padding: 40px 86px;
} */

#overlay-wrapper>#para-topic{
    width: 712px;
    height: 154px;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
    /* background-color: yellow; */
    margin: 35px 0 35px 0;
    
}

#para-topic>div>svg{
   fill: #ece8e1;

}

#overlay-wrapper>#para-topic>p{
    color: #ece8e1;
    font-family: "DINNextW05-Medium";
    padding-bottom: 35px;
    font-size: 1rem;
    user-select: none;
}

#overlay-wrapper>#para-topic>div:last-child>button{
    position: relative; 
    background-color: rgb(255, 70, 85);
    margin-top: 50px;
    width: 246px;
    height: 55px;
    padding: 7px;
    text-align: center;
    line-height: 41px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    user-select: none;
}

#overlay-wrapper>#para-topic>div:last-child>button::before{
    position: absolute;
    display: block;
    content: "";
    background-color: #0f1923;
    transform: skew(165deg);
    width: 125%;
    height: 110%;
    top: -5%;
    left: -132%;
    transition: left 500ms;
}

#overlay-wrapper>#para-topic>div:last-child>button:hover::before{
    left: -7%;
    
}

#overlay-wrapper>#para-topic>div:last-child>button>div{
    background-color: #0f1923;
    position: absolute;
    width: 4px;
    height: 4px;
    top: 100%;
    left: 100%;
    transform: translateX(-100%) translateY(-100%);
    transition: background-color 250ms;
}

#overlay-wrapper>#para-topic>div:last-child>button:hover div{
    background-color: #ece8e1;
}

#overlay-wrapper>#para-topic>div:last-child>button>span{
    position: relative;
    display: inline;
    color: #ece8e1;
    font-family: "DINNextW05-Bold";
    
    
}

main video{
    position: absolute;
    top: -20%;
    object-fit: cover;
    z-index: -1;
}


#overlay-wrapper>#para-topic>div:last-child::before{
    display: block;
    content: "";
    /* background-color: yellow; */
    width: 258px;
    height: 29.5px;
    position: relative; 
    top: 0;
    left: 0;
    
}



/* =====Main END===== */


footer{
    
    background-color: rgb(255, 70, 85);
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top:90%;
    transform: translateX(-50%);
    text-align: center;
}

footer a{
    text-decoration: none;
    transition: color 250ms;
    
}


footer a:hover{
    color: white;
}